# Ignore Python cache
__pycache__/
*.pyc
_ignore
/*.zip
/*.pt
/*.pth

# Ignore datasets
Data/*
Data/MiningMix_Unified/train/*
Data/MiningMix_Unified/test/*
Data/MiningMix_Unified/val/*

#Ignore Yolo Model
yolov8n.pt

# Ignore environment files
.venv
.env
Documents/v8s_optimized_6class_768_100e/weights/last.pt
Documents/v8s_optimized_6class_768_100e/weights/best.pt
Documents/v8s_optimized_6class_768_100e-20260403T002003Z-3-001.zip
.vscode/settings.json
